
.border {
    border-radius: 40px;
}
.Developer {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 40x;
}
.navbar-brand {
    color: black;
}
.navbar-brand:hover {
    border: solid 1px rgb(204, 195, 195);
    border-radius: 20px;
    background-color:rgb(204, 195, 195) ;
}

div .Keshav {
    font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.paragraph {
    font-size: 35px;
}

.Experience {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
    margin: 40px;
}
.Certifications {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
     margin: 40px;
}

.Educations{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
    margin: 40px;
}
